.container.update{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .group-update {
    width: 320px;
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 30px;
    padding: 30px 20px;
  }
  
  .group-update strong {
   font-size: 20px;
   text-align: center;
   display: block;
   color: #00c763;
  }
  
  .group-update form {
   margin-top: 30px;
  }
  
  .group-update form .input-block + .input-block {
   margin-top: 20px;
  }
  
  .group-update form .input-group {
   margin-top: 20px;
   display: grid;
   gap: 20px;
   grid-template-columns: 1fr 1fr;
  }
  
  .group-update form .input-group .input-block {
   margin-top: 0;
  }
  
  .group-update form .input-block label{
    color: #00c763;
    font-size: 14px;
    font-weight: bold;
    display: block;
  }
  
  .group-update form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
  }
  
  .group-update form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #00c763;
    border-radius: 30px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
  }
  
  .group-update form button[type=submit]:hover {
    background: #18be18;
  }