.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #001A14;
}

.register-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    width: 50vw;
    padding: 40px 0px;
    gap: 40px;
}

.register-title {
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
    box-shadow: 0 1px 1px rgba(240,240,240, 0.1);
}

.register-title h1 {
    font-size: 32px;
    text-align: center;
    color: #001A14;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form .input-block label {
    height: 32px;
    font-size: 16px;
}

form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #EDF3F3;
    box-shadow: 0 1px 2px rgba(240,240,240, 0.1);
    background: rgba(245, 245, 245, 0.10);
    padding-left: 4px;
    color: #40544F;
    margin-top: 4px;
    transition: border-color 0.3s;

    &:focus {
        border-color: rgba(128, 141, 138, 0.4);
        box-shadow: 0 0 2px rgba(128, 141, 138, 0.1);
        outline: none;
    }
}


.submit-block{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 24px;
}

button {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    width: 75%;
    background-color: #05001a;
    color: #FFF;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    fill: #ffffff;
}

button:hover {
    background-color: #142D27;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .register-items {
        max-width: 70vw;
        width: 100vw;
    }

    .register-title h1 {
        font-size: 28px;
    }

    button {
        width: 87.5%;
    }
}

@media screen and (max-width: 600px) {
    .register-items {
        max-width: 90vw;
        width: 100vw;
    }

    .register-title h1 {
        font-size: 24px;
    }

    form .input-block label {
        font-size: 14px;
    }

    button {
        width: 100%;
        font-size: 14px;
    }
}