/* Estilização da tela de login do usuário */
.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    padding: 80px 60px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    width: 50vw;
    margin: 20px;
    gap: 80px;
}

.login-card h1 {
    font-size: 32px;
    text-align: center;
    color: #001A14;
    padding-bottom: 12px;
}

.login-card p {
    text-align: center;
}

/* Estilização da tela do usuário logado */
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.logged-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    padding: 60px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    width: 70vw;
    margin: 20px;
    gap: 40px;
}

.logged-container h1 {
    font-size: 32px;
    text-align: center;
    color: #001A14;
}

.logged-container p {
    text-align: center;
}

.logged-card-options {
    display: flex;
    width: 62.5vw;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    /* width: 50vw; */
    padding: 24px;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #001A14;
    border-radius: 8px;
    background-color: #001A14;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card:hover {
    transform: scale(1.05);
    background-color: #142D27;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 36px;
    margin-bottom: 12px;
}

button {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    width: 75%;
    background-color: #001A14;
    color: #FFF;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    fill: #ffffff;
}

button:hover {
    background-color: #142D27;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {

    .login-card, .logged-container {
        padding: 60px 45px;
        max-width: 70vw;
        width: 100vw;
    }

    .login-card h1, .logged-container h1 {
        font-size: 28px;
    }

    .logged-card-options {
        width: 50vw;
        justify-content: space-around;
        gap: 16px;
    }
    
    .card {
        padding: 20px;
        width: 160px;
        text-align: center;
    }

    .icon {
        font-size: 28px;
        margin-bottom: 12px;
    }

    button {
        width: 87.5%;
        margin-top: 60px;
    }
}

@media screen and (max-width: 600px) {

    .login-card, .logged-container {
        padding: 40px 30px;
        max-width: 90vw;
        width: 100vw;
    }

    .login-card h1, .logged-container h1 {
        font-size: 24px;
    }
    
    .login-card h1 {
        padding-bottom: 30px;
    }

    .login-card p, .logged-container p {
        font-size: 14px;
    }

    .logged-card-options {
        width: 50vw;
        justify-content: space-around;
        gap: 16px;
    }
    
    .card {
        padding: 20px;
        width: 160px;
        text-align: center;
    }

    .icon {
        font-size: 28px;
        margin-bottom: 12px;
    }
    
    button {
        width: 100%;
        margin-top: 40px;
        font-size: 14px;
    }
}
