.Maps {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.map-container {
  height: 100%;
  width: 100%;
}

.custom-marker-icon {
  width: 30px;
  height: 30px; 
  border-radius: 50%;
  cursor: pointer;
}

.custom-marker-label {
  position: absolute;
  transform: translate(-50%, -160%); 
}

.tab-devs {
  width: 400px;
  background-color: white;
}

.dev-item {
  cursor: pointer;
  padding: 10px;
}

.dev-item DevItemMap {
  border-radius: 10px;
}