li.dev-item {
  background: #FFF;
  border-radius: 16px;
  border-color: rgba(128, 141, 138, 0.4);
  box-shadow: 0 0 2px rgba(128, 141, 138, 0.7);
  padding: 20px;
  cursor: auto;
  max-width: 480px;
}

li.dev-item header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li.dev-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item header .user-info {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

.first-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}

.second-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item a {
  color: #001A14;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

li.dev-item a:hover {
  color: #40544F;
}

li.dev-item .crypto {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}

.decrypt-user {
  background-color: #05001a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  fill: #ffffff;
  width: 120px;
}

.group-button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.group-button .delete-button {
  background-color: #05001a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  fill: #ffffff;
  width: 120px;
}

.group-button .update-button {
  background-color: #05001a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  fill: #ffffff;
  width: 120px;
}

button:hover, .group-button .update-button:hover, .group-button .delete-button:hover{
  background-color: #142D27;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {

  .group-button {
    justify-content: space-evenly;
  }

  button {
    margin-top: 20px;
  }
  
}

@media screen and (max-width: 600px) {
  
  .group-button {
    justify-content: space-around;
  }
  
  button {
    margin-top: 10px;
  }

}
